<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/normalize.css"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
    <title>neet.moe</title>
</head>
<body class="no-js">
    <nav id="main-navigaton" class="navigation-bar" role="navigation">
        <div class="content">
            hello
        </div>
    </nav>
    <main id="main-content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>