{% extends "layouts/app.html" %}

{% block content %}
<div class="with-sidebar">
    <div class="primary-content">
        <div class="catalog">
            {% for thread in board.1 %}
                <div class="post">
                    <div class="post__image">
                        <a href="#">
                            <img src="#"/>
                        </a>
                    </div>
                    <div class="tail">
                        <div class="tail__post-count">Replies: {{ thread.1.len() - 1 }}</div>
                        {% if thread.0.subject.is_some() %}
                            <div class="tail__thread-subject">{{ thread.0.subject.as_ref().unwrap() }}</div>
                        {% endif %}
                        <div class="tail__post-preview">
                            {% if thread.1.first().unwrap().body.is_some() %}
                                {{ thread.1.first().unwrap().body.as_ref().unwrap() }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "partials/sidebar.html" %}
</div>
{% endblock %}